/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/06/2016, 11:11:21 PM
    Author     : root
*/
*{
    font-family: 'Roboto Slab', serif;
}
body, #container{
    width: 100vw;
    height: 98vh;
    padding: 0;
    margin: 0;    
    overflow-x: hidden;
    overflow-y: hidden;
}

.middle_div, .right_bar{
    height: calc(100vh - 64px);   
    padding: 5px;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    vertical-align: top;
}

.middle_div{
    width: 70vw;
}

.right_bar{
    width: 29vw;
}

.imgButton img{
    cursor: pointer;
    height: 15px;
}


