/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1/07/2016, 2:23:35 PM
    Author     : root
*/

.search{
    color: #000;
}

.results_list, .results_list ul{
    list-style: none;
}
.results_list li .title{
    font-size: 15pt;
}

span.add img, a.magnet img{
    cursor: pointer;
    height: 15px;    
}

.loading{
    height: 75px;
    margin: auto;
    display: block;
}

.page_current{
    background-color: #FFF;
    color: #000;
    
    width: 30px;
    
    border-radius: 100%;
}

.page_number{
    cursor: pointer;
}

.page_number_container{
    text-align: center;
}

